body {
    margin: 0;
    font-family: sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    padding: 8px 24px;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 8px;
    border-style: none;
    margin-top: 18px;
}

.header {
    background-color: #1f2937;
    padding: 0px 200px 60px 200px;
}

.header-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.header-bottom-row{
    display: flex;
    gap: 42px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.header-secondary-text{
    color: #e5e7eb;
    font-size: 18px;
}

.section2-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section2-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    text-align: center;
}

.section2-card {
    width: 200px;
}

.section2-card > img{
    border-style: double;
    border-color: #3882f6;
    border-radius: 8px;
    margin-bottom: 8px;
}
