ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    background-color: #1f2937;
}

.header-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.header-secondary-text{
    color: #e5e7eb;
    font-size: 18px;
}
