body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    padding: 8px 24px;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 8px;
    border-style: none;
    margin-top: 18px;
}

.header{
    background-color: #1f2937;
    padding: 0px 100px 60px 100px;
    flex: auto;
}

.header-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.header-bottom-row{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 42px;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
}

.header-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.header-left-col {
    flex: auto;
}


.header-right-col > img {
    max-width: 500xpx;
    max-height: 300px;
    border-radius: 8px;
}

.header-secondary-text{
    color: #e5e7eb;
    font-size: 18px;
}

.section2 {
    flex: auto;
}

.section2-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section2-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    text-align: center;
}

.section2-card {
    width: 250px;
}

.section2-card > img{
    border-style: solid;
    border-color: #3882f6;
    border-radius: 8px;
    margin-bottom: 8px;
}

.section3 {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    text-align: center;
    margin-top: 48px;
    padding: 50px 15%;
    flex: auto;
}

.section3-attribution {
    margin-top: 3%;
    text-align: right;
    font-weight: bold;
}

.section4 {
    display: flex;
    color: #f9f9f9;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    margin: 100px 200px;
    padding: 50px 100px;
    border-radius: 8px;
    flex: auto;
}
.section4-button {
    border: #f9faf8;
    border-style: solid;
}

.section4-title {
    font-size: 24px;
    font-weight: 900;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9f9f9;
    padding: 20px;
    font-size: 20px;
}

