body {
    margin: 0;
    font-family: sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    background-color: #1f2937;
    padding: 0px 200px 60px 200px;
}

.header-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.header-bottom-row{
    display: flex;
    gap: 42px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.header-secondary-text{
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 24px;
}
